{% extends 'auction_house/base.html'%}
{% block content %}
{% load static %}
<h1>Carving Items Details</h1>
<img src="{{ carvingdetails.image.url }}" height="400" width="500">
<div class="details">
ARTIST NAME:<h3>{{ carvingdetails.artist_name }}</h3>
PRODUCT NAME:<h3>{{ carvingdetails.title}}</h3>

DISCRIPTION:<h3>{{ carvingdetails.discription }}</h3>
<br>
PUBLISH DATE:<h3>{{ carvingdetails.pub_date }}</h3>
PRODUCT PRICE:<h3>{{ carvingdetails.price }}</h3>
PRODUCE DATE:<h3>{{ carvingdetails.produced_date }}</h3>
AUCTION DATE:<h3>{{ carvingdetails.auction_date }}</h3>

    <a href="{%url 'bid'%}" ><button>BID COMMISION</button></a>
</div>
{% endblock %}