{% extends 'auction_house/base.html'%}
{% block content %}
{% load static %}
<h1>Drawing Items Details</h1>
<img src="{{ drawingdetails.image.url }}" height="400" width="500">

<div class="details">
ARTIST NAME:<h3>{{ drawingdetails.artist_name }}</h3>
PRODUCT NAME:<h3>{{ drawingdetails.title}}</h3>

DISCRIPTION:<h3>{{ drawingdetails.discription }}</h3>
<br>
PUBLISH DATE:<h3>{{ drawingdetails.pub_date }}</h3>
PRODUCT PRICE:<h3>{{ drawingdetails.price }}</h3>
PRODUCE DATE:<h3>{{ drawingdetails.produced_date }}</h3>
AUCTION DATE:<h3>{{ drawingdetails.auction_date }}</h3>
<a href="{%url 'bid'%}" ><button>BID COMMISION</button></a>
{% endblock %}
